

:root {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    /* background-position: 0% 0%; */
    background-size: 100% 100%;
    height: 100%;
}

footer {
    color: red;

}

p {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
}
button {
    text-align: center;
    width: 400px;
    height: 70px;
    margin: 50px;
    background-color: #150BA4;
    border: none;
    color: white;
    font-size: 50px;
    border-radius: 20px;
}

img {
    display: inline-block;
    /* width: 75%; */
    min-width: auto;
    min-height: auto;
    max-width: 75%;
    max-height: 50%;
}
/* @media only screen and (max-width: 450px) {
    img {
        width: 80%;
    }
} */
@media only screen and (max-width: 650px){
    button {
        width: 50%;
    }
}
@media only screen and (max-height: 600px){
    /* img {
        width: auto;
        height: 50vh;
    } */
    button {
        margin: 40px;
    }
}
.wrapper {
    text-align: center;
}